@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

/* Utilites */

.container {
  margin: auto;
  max-width: 1680px;
  overflow: hidden;
  padding: 0 30px;
}

hr {
  width: 10%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1c63b8;
}

.phone {
  text-decoration: none;
  color: #1c63b8;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l-heading {
  font-size: 3em;
  /* padding-top: 250px;
  line-height: 1.7; */
}

.s-heading {
  font-size: 2em;
  /* padding-top: 40px;
  margin-top: 50px; */
  text-transform: uppercase;
}

.active {
  color: #1c63b8;
}

.lead {
  margin: 20px;
  line-height: 1.8;
  padding: 10px 20px 5px 20px;
  font-size: 25px;
}

.btn-small {
  display: inline-block;
  color: #fff;
  font-size: 0.8em;
  background: #1c63b8;
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  background: #1c63b8;
  padding: 20px 30px;
  border: none;
  margin: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-large {
  display: inline-block;
  color: #fff;
  width: 30%;
  font-size: 1.5em;
  background: #1c63b8;
  margin-top: 30px;
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover,
.btn-small:hover,
.btn-large:hover {
  background: #0a4b98;
}

.brand {
  padding-top: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  float: left;
  height: 80px;
  width: 250px;
  cursor: pointer;
}

.header {
  text-align: center;
  padding: 30px;
  line-height: 2;
}

/* Navbar */

.navigation {
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 2px solid #1c63b8;
  position: fixed;
  margin-bottom: 100px;
  z-index: 2;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
}

nav {
  float: right;
  background: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 15px 0px;
  float: left;
  position: relative;
  top: 10px;
}

nav ul li a {
  display: block;
  padding: 0px 15px;
  line-height: 70px;
  background: #ffffff;
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
 color: #1c63b8;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 1;
  z-index: 2;
}

.nav-dropdown {
  position: absolute;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
  background: #fff;
}

.nav-mobile {
  position: absolute;
  top: 20px;
  right: 0;
  background: #ffffff;
  height: 80px;
  width: 80px;
}

#showcase {
  background: #333 url(../img/showcase1.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

.showcase-content {
  width: 100%;
  height: 100vh;
  text-align: center;
  /* Overlay */
  background: rgba(0, 0, 0, 0.4);
}

.whatwedo-content .services {
  font-size: 30px;
  line-height: 1.8;
  padding-top: 50px;
  padding-bottom: 5px;
  text-align: center;
}

.services-desc {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

#whatwedo .items {
  display: flex;
  padding: 2rem;
}

#whatwedo .item {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

#whatwedo .items .item {
  padding: 2rem;
  margin-bottom: 1rem;
}

.items .item1 {
  background: #e0e0e0;
  border-radius: 50%;
  padding-top: 50%;
  text-align: center;
}

.item-background {
  height: 150px;
  width: 150px;
  padding-top: 2rem;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border-radius: 50%;
  border: 1px groove #000;
}

.item-background:hover {
  height: 150px;
  width: 150px;
  padding-top: 2rem;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  background: #1c63b8;
  border-radius: 50%;
  border: 1px groove #000;
}

.item-desc {
  padding: 20px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 10px;
}

.read-more {
  text-decoration: none;
  color: #333;
  line-height: 4;
  padding: 5px;
  margin-bottom: 5px;
}

.read-more:hover {
  text-decoration: none;
  color: #1c63b8;
  line-height: 4;
  padding: 5px;
  margin-bottom: 5px;
}

.why-box-left .why-img {
  width: 50%;
  height: 500px;
  text-align: center;
  float: left;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
}

.why-box-right {
  float: left;
  background: #f4f4f4;
  width: 50%;
  height: 500px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
}
.right-content h1 {
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 2px solid #1c63b8;
  width: 25%;
  margin: auto;
}

.right-content p {
  text-align: center;
  padding: 5px 0px 0px 10px;
  margin: 10px;
}

.tick {
  text-align: center;
  padding-bottom: 10px;
  line-height: 3;
}

.tick i {
  color: #1c63b8;
}

#card1 {
  height: 50%;
}

.card {
  width: 23%;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px 0px #888;
}

.card:hover {
  width: 23%;
  float: left;
  margin-left: 30px;
  box-shadow: 5px 10px 15px 0px #333;
}

.card-desc {
  text-align: center;
  background-color: #fff;
  height: 130px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 3;
}

.banner-img {
  height: 50vh;
  width: 100%;
  background: url(../img/banner1.jpg) no-repeat center center/cover;
  display: block;
  clear: both;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  height: 50vh;
}

/*Testimonials*/
#testimonials .test-cards {
  height: 220px;
  width: 90%;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  margin-left: 5%;
  background-color: #f4f4f4;
  box-shadow: 5px 0px 15px #888888;
  border-radius: 10px;
}

.test-card-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: -20px -20px;
}

.test-card-content {
  padding-top: 30px;
}

.face {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 1px solid;
}

.test-card-content {
  text-align: center;
  font-size: 1.2em;
  line-height: 2;
}

.content {
  text-align: center;
  padding: 20px;
  line-height: 1.7;
}

.name {
  padding-top: 50px;
}

#footer {
  float: left;
  clear: both;
  background: #333;
  width: 100%;
  height: 350px;
  color: #fff;
}

.footer-sect {
  height: 350px;
  width: 378px;
  float: left;
  text-align: center;
  padding: 40px;
}

.logo {
  height: 150px;
  width: 255px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
}

.leadfooter {
  font-size: 15px;
}

.social {
  margin-left: 28px;
  margin-top: 30px;
  float: left;
  padding: 10px;
  font-size: 20px;
  border: solid 0.5px;
  cursor: pointer;
}

.social:hover {
  margin-left: 28px;
  margin-top: 30px;
  float: left;
  color: #1c63b8;
  padding: 10px;
  font-size: 20px;
  border: solid 0.5px;
}

.links {
  margin-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #1c63b8;
}

.nav-footer {
  line-height: 20px;
  padding: 8px;
}

.nav-footer ul {
  list-style: none;
}
.nav-footer ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 3;
  font-size: 15px;
}

.nav-footer ul li a:hover {
  text-decoration: none;
  color: #1c63b8;
  line-height: 3;
  font-size: 15px;
}

.contact {
  margin-top: 48px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #1c63b8;
}

.info {
  font-size: 16px;
  line-height: 3;
}

.contact-icons {
  margin-right: 5px;
  padding: 20px;
  font-size: 20px;
}

.contact-icons:hover {
  padding: 20px;
  font-size: 20px;
  color: #1c63b8;
}

.map-content {
  margin-top: 30px;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  border: 1px solid #1c63b8;
}

.gototop {
  background: #474747;
  text-align: center;
  padding: 15px;
  outline: none;
}

.gototop:hover {
  background: #4d4d4d;
}

.gototop a {
  text-decoration: none;
  color: #fff;
  height: 50px;
  width: 100%;
}

.gototop:hover {
  color: #1c63b8;
}

.footer-bottom {
  height: 60px;
  width: 100%;
  background: #000;
  clear: both;
  text-align: center;
  padding: 24px;
}

/* Internal Pages : About */
.banner-img1 {
  height: 50vh;
  width: 100%;
  background: url(../img/about.jpg) no-repeat center center/cover;
  margin-top: 0;
  z-index: -1;
}

.banner-content1 {
  text-align: center;
  padding-top: 180px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  height: 50vh;
}

.about-book {
  text-align: center;
  line-height: 2;
  padding: 20px;
  margin-top: 20px;
  color: #1c63b8;
}

.btn-reg {
  display: inline-block;
  color: #fff;
  width: 40%;
  height: 50px;
  font-size: 1.2em;
  background: #1c63b8;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 0 45px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.btn-reg:hover {
  background: #0a4b98;
}

.input-field {
  height: 50px;
  width: 40%;
  padding: 4px 8px 5px 32px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  background: url("../img/gb.png") no-repeat;
  display: inline-block;
  background-color: yellow;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.input-field::placeholder {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
}

.banner-head {
  font-size: 4em;
  margin-top: 25px;
}

.about-img {
  height: 500px;
  width: 700px;
  margin-left: 25%;
  margin-top: 20px;
}

.content {
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 1.2em;
  text-decoration: none;
}

.main-middle {
  height: 500px;
  width: 750px;
  float: left;
  margin: 30px;
}

.main-content {
  text-align: center;
  line-height: 2;
  padding: 10px 20px;
  margin: 10px 100px;
}

.underline {
  font-size: 1.5em;
  border-bottom: 2px solid #1c63b8;
  width: 8%;
  padding: 10px;
}

.sub-title {
  padding-top: 10px;
  font-size: 1.3em;
}

/* End of About */

/* Mot and Services */
.banner-img2 {
  height: 50vh;
  width: 100%;
  background: url(../img/motsandservices.jpg) no-repeat center center/cover;
  margin-top: 0;
  z-index: -1;
}
.sub-title {
  padding: 20px;
}

.mots-content {
  line-height: 2;
  margin: 20px;
}
.mots-subtitle {
  padding: 20px 0;
}
.underline {
  font-size: 1.5em;
  border-bottom: 2px solid #1c63b8;
  width: 8%;
  padding: 5px;
}

.sub-title {
  padding-top: 20px;
  font-size: 1.3em;
}

/* Body Shop */
.banner-img3 {
  height: 50vh;
  width: 100%;
  background: url(../img/bodyshop.jpg) no-repeat center center/cover;
  margin-top: 0;
  z-index: -1;
}

.bodyshop-content {
  line-height: 2;
  font-size: 1.5em;
  margin: 20px;
}
/* Diagnostics */
.banner-img4 {
  height: 50vh;
  width: 100%;
  background: url(../img/1248.jpg) no-repeat center center/cover;
  margin-top: 0;
  z-index: -1;
}

.diagnostics-content {
  line-height: 2;
  font-size: 1.5em;
  margin: 20px;
}

/* General Maintenance */
.banner-img5 {
  height: 50vh;
  width: 100%;
  background: url(../img/generalmaintenance.jpg) no-repeat center center/cover;
  margin-top: 0;
  z-index: -1;
}

.generalmain {
  line-height: 2;
  font-size: 1.5em;
  margin: 20px;
}

/* Contact */
.banner-img6 {
  height: 50vh;
  width: 100%;
  background: url(../img/contact.jpg) no-repeat center center/cover;
  z-index: -1;
}

.contact-form {
  float: left;
  text-align: center;
  height: 560px;
  width: 50%;
  padding: 20px 10px;
  margin-bottom: 50px;
  margin-left: 220px;
  margin-top: 50px;
  font-size: 1.2em;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.6);
}

.contact-form h4 {
  padding: 20px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 1em;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1c63b8;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px 0 15px;
  border-radius: 5px;
  font-size: 20px;
}

#contact button[type="submit"]:hover {
  background: #0a4b98;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

.address {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  height: 560px;
  width: 400px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.6);
}

.address-content {
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
}

.location {
  padding: 20px;
  margin-top: 25px;
  line-height: 5;
}

.map2 {
  width: 400px;
  height: 400px;
  width: 100%;
}
/* Navbar Mobile */

@media (max-width: 800px) {
  .nav-mobile {
    display: block;
    background: #fff;
  }

  nav {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
    background: #fff;
  }

  nav ul {
    display: none;
  }

  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
.navigation {
  height: 110px;
  background: #fff;
}

.nav-dropdown {
  background: #fff;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  padding-top: 10px;
  float: left;
  height: 80px;
  width: 250px;
}
/* End of Navbar */
